* {
  margin: 0;
  padding: 0;
}

.body {
  color: rgb(255, 255, 255);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 0 300px;
  background: #b5b5b533;
  padding: 10px;
  border-radius: 30px;
}

.cards img {
  border-radius: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
}

.tablica {
  background: none;
  border: none;
  color: white;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  height: 80px;
  background: #a42f2f;
  width: 95%;
  position: fixed;
  transition: 0.7s;
}

.alar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}

img {
  width: 150px;
  height: 150px;
}

.header-imglar {
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

.logo {
  width: 70px;
  height: 70px;
  padding-right: 300px;
  transition: 0.7s;
}

.ice {
  width: 100%;
}

.soz {
  margin-top: 150px;
  background: #00000047;
  padding: 30px;
  width: 500px;
  border-radius: 20px;
}

.coz {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: #00000047;
}

.adam {
  border-radius: 120px;
  margin-left: 170px;
  margin-bottom: 20px;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.buttoncontainer button {
  width: 15px;
  border-radius: 100px;
  background: #868686;
  color: white;
  border: none;
  transition: 0.3s;
  margin: 10px;
}

.buttoncontainer button:hover {
  background: #a42f2f;
}

.footercards nav img {
  width: 30px;
  height: 30px;
}

footer {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #a42f2f;
  height: 100px;
  color: white;
  height: 200px;
}